#pesquisa {
    width: 1024px;
}

#publications h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0;
}

#publications h2 {
    font-size: 1.2em;
    padding: 20px;
}

#publications a {
    color: rgb(47, 139, 201);
    text-align: justify; 
    padding: 0px 20px;
    line-height: 2em;
}

#publications a:hover {
    color: #970000;
}

#publications a:link {
    color: #000000;    
}

#capas {
    display: flex;
    justify-content: center;

}

.capa {
    padding: 25px;
}

#publications p {
    text-align: justify; 
    padding: 10px 20px;
    line-height: 1.5em;

}